@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as m;
@use 'sass:color';

.textinput {
  display: flex;
  flex-direction: column;
  color: $dark-color;
  border: 1px solid $border-color;
  padding: $spacing-sm $spacing-lg;
  border-radius: $border-radius-md;

  &:focus-within {
    border: 1px solid $secondary-color;
  }

  &--fullWidth {
    width: 100%;
  }
  &--error {
    border-color: $danger-color;
  }

  &--sm {
    padding: $spacing-xs $spacing-sm;
    font-size: 0.9rem;
  }
  &--md {
    padding: $spacing-sm $spacing-md;
    font-size: 1rem;
  }
  &--lg {
    padding: $spacing-sm $spacing-lg;
    font-size: 1.0625rem;
    height: 56px;
  }

  &__label {
    font-weight: $font-weight-normal;
    font-size: 12px;
    color: $info-color;
  }

  &__field {
    @include m.input-base;
  }
  &__helper {
    font-size: 12px;
    color: $info-color;
  }
  &__error {
    font-size: 12px;
    color: $danger-color;
  }
  &--group-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &--group-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
