@use '../../styles/abstracts/variables' as *;

.plans {
  padding: 0;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: $neutral-light-color;
    padding: 0 $spacing-xl;
    @media (max-width: $breakpoint-mobile) {
      justify-content: space-between;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $spacing-xxl 120px;
    overflow: visible;
    @media (max-width: $breakpoint-mobile) {
      padding: 32px 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    width: 100%;
  }
  &__backButton {
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &__header__backButton {
    display: none;
    @media (max-width: $breakpoint-mobile) {
      display: block;
    }
  }
}
